<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- Camel noise control -->
<logger name="org.apache.camel" level="INFO"/>
<logger name="org.apache.camel.impl.engine" level="WARN"/>
<logger name="org.apache.camel.component" level="INFO"/>
<logger name="org.apache.camel.main" level="INFO"/>
<!-- Undertow -->
<logger name="io.undertow" level="WARN"/>
<!-- Kafka -->
<logger name="org.apache.kafka" level="WARN"/>
<!-- OpenTelemetry -->
<logger name="io.opentelemetry" level="WARN"/>
<logger name="io.swagger.v3" level="error"/>
<!-- CAPI -->
<logger name="io.surisoft.capi" level="INFO"/>

<!-- CAPI Logs properties -->
<property name="logsEnabled"
                value="${logging.logback.logs.enabled}" />
<property name="logsTenant"
                value="${logging.logback.logs.tenant}"/>
<property name="logsAppName"
                value="${logging.logback.logs.appName}"/>
<property name="logsAppEnvironment"
                value="${logging.logback.logs.appEnvironment}"/>
<property name="logsDestination"
                value="${logging.logback.logs.destination}"/>

<!-- Access Logs properties -->
<property name="accessLogsEnabled"
                value="${logging.logback.access.enabled}" />
<property name="accessLogsTenant"
                value="${logging.logback.access.tenant}"/>
<property name="accessLogsService"
                value="${logging.logback.access.service}"/>
<property name="accessLogsDestination"
                value="${logging.logback.access.destination}"/>

<property name="logstashDestination" value="${logstash-destination}"/>

<!-- LOGSTASH appender (only created when logs are enabled) -->
<condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
    <key>logsEnabled</key>
    <value>true</value>
</condition>
<if>
    <then>
        <!--appender name="LOGSTASH" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
            <destination>${logsDestination}</destination>
            <keepAliveDuration>5 minutes</keepAliveDuration>
            <connectionTimeout>5s</connectionTimeout>
            <writeTimeout>5s</writeTimeout>
            <reconnectionDelay>10s</reconnectionDelay>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>
                    {
                    "tenant":"${logsTenant}",
                    "appName":"${logsAppName}",
                    "appEnvironment":"${logsAppEnvironment}",
                    "host":"${accessLogsDestination}"
                    }
                </customFields>
                <includeMdc>true</includeMdc>
                <includeContext>true</includeContext>
                <includeStructuredArguments>true</includeStructuredArguments>
            </encoder>

        </appender-->
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${logsDestination}</destination>
            <keepAliveDuration>5 minutes</keepAliveDuration>
            <connectionTimeout>5s</connectionTimeout>
            <writeTimeout>5s</writeTimeout>
            <reconnectionDelay>10s</reconnectionDelay>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>
                    {
                    "tenant":"${logsTenant}",
                    "appName":"${logsAppName}",
                    "appEnvironment":"${logsAppEnvironment}",
                    "host":"${accessLogsDestination}"
                    }
                </customFields>
                <includeMdc>true</includeMdc>
                <includeContext>true</includeContext>
                <includeStructuredArguments>true</includeStructuredArguments>
            </encoder>
        </appender>
    </then>
</if>

<!-- ACCESS-LOGSTASH appender (only created when access logs are enabled) -->
<condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
    <key>accessLogsEnabled</key>
    <value>true</value>
</condition>
<if>
    <then>
        <appender name="ACCESS-LOGSTASH"
                  class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${accessLogsDestination}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>
                    {
                    "log_type":"access",
                    "service":"${accessLogsService}",
                    "tenant": "${accessLogsTenant}"
                    }
                </customFields>
            </encoder>
        </appender>
        <appender name="ASYNC-ACCESS" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>16384</queueSize>
            <neverBlock>true</neverBlock>
            <appender-ref ref="ACCESS-LOGSTASH"/>
        </appender>
    </then>
</if>
    <!-- Pattern with trace/span support -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>



    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
    <!--logger name="io.surisoft.capi" additivity="false" level="TRACE">
        <appender-ref ref="LOGSTASH"/>
    </logger-->

    <if condition='Boolean.parseBoolean(property("accessLogsEnabled"))'>
        <then>
            <logger name="capi.access" level="INFO" additivity="false">
                <appender-ref ref="ASYNC-ACCESS"/>
            </logger>
        </then>
    </if>


</configuration>
